body {
    background-color: #2f2f2f;
    color: #a7a7a7;
    text-align: center;
    align-self: center;
    width: 99.1%;

}

.navbar {
    position: fixed;
    width: 100%;
    background-color: rgb(255, 255, 255);
    text-align: center;
    margin: 0;
    padding: 0;
    z-index: 9999;
}

.navbar-color {
    background-color: rgb(255, 255, 255);
}

.navbar img {
    cursor: pointer;
    width: 70px;
}

.nav {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
    list-style-type: none;
}

.nav-item {
    margin: auto;
}

.nav-item a {
    text-decoration: none;
    color: black;
}

.nav-item a:hover {
    text-decoration: underline;
}

.footer {
    padding: 10px 0;
    width: 100%;
    background-color: #282828;
    color: #d0d0d0;
    text-align: center;
    bottom: 0;
}

.titulo {
    padding: 30px;
}

.input {
    padding-bottom: 20px;
}

input {
    width: 14rem;

}