.produto-descricao{
    margin-bottom: 0;
    color: black;
}
.botao{
    margin-top: 15px;
    color: white;
}
.produto-back {
    border-radius: 8px;
    background-color:#ccc;
    margin: 25px;
    padding-bottom: 30px
}

.delete{
    color: red;
    background-color: black;
    text-decoration: solid;
    border: 1px solid red;
}
.botaoComprar{
    color: white;
    border-radius: 20px;
    background-color: #585858;

}